@import "animation.css";

:root {
    --menu-background: #A789E0;
    --duration: 0.7s;
    --border-radius: 5px;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 18%;
}

* {
    font-family: sans-serif;
    text-decoration: none;
}

body {
    background: linear-gradient(50deg, #eae1ff, #d1dfff, #b2b2ff);
    background-size: 400% 400%;
    animation: alternate Gradient 4s infinite;
}

.sidebar {
    z-index: 2;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    height: 100vh;
    background-color: var(--menu-background);
    transition: left, width var(--duration);
}

input[type=checkbox] {
    display: none;
}

input:checked ~ article {
    width: 96%;
    left: 4%;
    transition: var(--duration);
}

input:checked ~ .sidebar {
    width: 4%;
    transition: width var(--duration);
}

input:checked ~ header {
    width: 96%;
    left: 4%;
}

input:checked ~ .sidebar ul {
    display: none;
}

article {
    transition: left, width var(--duration);
    z-index: 1;
    display: block;
    position: absolute;
    top: 20%;
    left: 20%;
    width: 80%;
    height: 80%;
    padding-bottom: 20%;
}

label {
    z-index: 3;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.5rem;
}

label:hover {
    cursor: pointer;
}

header {
    position: fixed;
    top: 0;
    z-index: 3;
    padding-bottom: 2rem;
    left: 20%;
    width: 100%;
    height: 10%;
    background-color: var(--menu-background);
    transition: width, left var(--duration);
}

header h1 {
    margin-left: 2rem;
    margin-top: 2rem;
}

.sidebar ul::before, .sidebar ul::after {
    content: '';
    display: flex;
    border-bottom: 3px black dashed;
}

.sidebar ul {
    padding-top: 2rem;
    list-style: none;
    position: absolute;
    top: 7%;
    left: 0;
    width: 80%;
    text-align: center;
}

.sidebar ul li {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.sidebar ul li:hover {
    background-color: #6B617A;
    cursor: pointer;
    border-radius: var(--border-radius);
}

.sidebar ul li a {
    color: white;
    font-size: 1.2rem;
}

section {
    width: 80%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 2rem;
    border-radius: 5px;
    box-shadow: rgba(159, 159, 159, 0.35) 0 0.1rem 15px;
    transition: width var(--duration);
}

section h2 {
    text-align: center;
    transition: width, left var(--duration);
}

section:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0 0.1rem 15px;
    cursor: pointer;
}

.code-block {
    border-radius: 5px;
    background-color: #596C99;
    padding: 0.4rem;
    color: white;
}

img {
    width: 20%;
    height: 20%;
    float: right;
    padding-right: 2rem;
}

section table tr th, section table tr td {
    border: 3px black solid;
    text-align: left;
}

section table {
    border-collapse: collapse;
    overflow: hidden;
    border-radius: var(--border-radius);
}

section table tr th:hover, section table tr td:hover {
    background-color: #C4BFFF;
}

.tables {
    display: flex;
    gap: 1rem;
}

.biggerImage {
    width: 35%;
    height: 35%;
    position: relative;
    top: -2rem;
}